*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    height: 250vh;
}

header{
    height: 100vh;
    background-color: #010423;
    position: relative;
    overflow: hidden;
}

nav{
    position:fixed;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.phone-menu{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    row-gap: 20px;
    background-color: #01063b;
    transform: translateY(-100vh);
    transition: transform .6s;
    z-index: 2;
}

.phone-menu li{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.phone-menu h2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: #604bd4;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.pink{
    color: #FFA7FF;
    margin-left: 5px;
    font-weight: 100;
}

.phone-menu form{
    text-align: center;
}

.phone-menu textarea {
    width: 150px;
    height: 20px;
    background-color: #01063b;
    resize: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
    
.hamburger{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 3;
}

.bars{
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.black-bar::before{
    background-color: black;
}

.bars::before{
    content: '';
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transform: translateY(-7px);
    transition: .2s;
}

.bars::after{
    content: '';
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transform: translateY(7px);
    transition: .2s;
}

.bars.black::before{
    background-color: black;
}

.bars.black::after{
    background-color: black;
}

.phone-menu--active{
    transform: translate(0);
}

.hamburger--active .bars::before{
    transform: rotate(45deg);
    background-color: white;
}

.hamburger--active .bars::after{
    transform: rotate(-45deg);
    background-color: white;
}

h1{
    color: white;
    top: 110px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    z-index: 1;
}

h1::before{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
}

header img {
    width: 50vh;
    position: absolute;
    bottom: 0;
    right: -20px;
}

.button{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    border: 2px solid #FFA7FF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    transition:color .5s, background-color .5s, padding .5s;
}

.comp-menu{
    display: none;
}

.aboutme{
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 50px;
}

.left{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
}

.border{
    border: 13px solid #604BD4;
    padding: 10px 25px 10px 25px;
    position: relative;
    border-radius: 30px;
}

.border::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 90%;
    background-color: white;
    bottom: -13px;
    left: -13px;
}

.border::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 90%;
    background-color: white;
    top: -13px;
    right: -13px;
}

.left h3{
    margin-top: 20px;
    color:#787878;
}

.right img{
    width: 300px;
    border-radius:50%;
    border: 10px solid #604BD4;
    margin-top: 30px;
}

.top-border {
    position: absolute;
    width: 90%;
    height: 13px;
    background: white;
    top: -13px;
}

.bottom-border {
    position: absolute;
    width: 90%;
    height: 13px;
    background: white;
    bottom: -13px;
    left: -3px;
}

.border p{
    font-weight: bold;
    color: #604bd4;
}

@media (min-width: 1000px)
{
h1{
    font-size: 60px;
    top: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
}

.hamburger{
    display: none;
}

.phone-menu{
    display: none;
}

.button:hover{
    cursor: pointer;
    background-color: #FFA7FF;
    color: #010423;
    padding-left: 25px;
    padding-right: 25px;
} 

.comp-menu{
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2px;
    position: relative;
}

.comp-menu li{
    display: inline;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.comp-menu li:hover{
    cursor: pointer;
}

nav{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:height .2s;
}


.nav--active{
    height: 60px;
}

.nav--active .comp-menu{
    background-color: #604bd4;
    border-radius: 30px;
    transition: .1s;
}

h2{
    position: absolute;
}

.bar{
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition:.5s;
}

.bar--active{
    width: 100%;
}

.logo {
    position: absolute;
    left: -45px;
    font-size: 25px;
    opacity: 0;
    bottom: -2px;
    transition: .2s;
}

.black{
    color: #604bd4;
    font-weight: bold;
}

.aboutme{
    margin-top: 150px;
}

.logo--active{
    opacity: 1;
}

.right img{
    margin-left: 250px;
    width: 350px;
    margin-top: 0px;
}

}
