@keyframes img-animation{
from{
}
to{
    filter: drop-shadow(0px 0px 20px #842DFF) hue-rotate(45deg);
}
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    height: 1200vh;
}

header{
    height: 100vh;
    background-color: #010423;
    position: relative;
    overflow: hidden;
}

.scroll--notactive{
    overflow: hidden;
}

nav{
    position:fixed;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.phone-menu{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    row-gap: 20px;
    background-color: #01063b;
    transform: translateY(-100vh);
    transition: transform .6s;
    z-index: 2;
}

.phone-menu li{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.phone-menu h2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: #604bd4;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.phone-menu form{
    text-align: center;
}

.phone-menu textarea {
    width: 150px;
    height: 20px;
    background-color: #01063b;
    resize: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
    
.hamburger{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 3;
}

.bars{
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.black-bar::before{
    background-color: black;
}

.bars::before{
    content: '';
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transform: translateY(-7px);
    transition: .2s;
}

.bars::after{
    content: '';
    width:100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transform: translateY(7px);
    transition: .2s;
}

.bars.black::before{
    background-color: black;
}

.bars.black::after{
    background-color: black;
}

.phone-menu--active{
    transform: translate(0);
}

.hamburger--active .bars::before{
    transform: rotate(45deg);
    background-color: white;
}

.hamburger--active .bars::after{
    transform: rotate(-45deg);
    background-color: white;
}

h1{
    color: white;
    top: 110px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    z-index: 1;
}

h1::after {
    content: '|';
    font-weight: normal;
    font-size: 35px;
}

.photo{
    width: 50vh;
    position: absolute;
    bottom: 0;
    right: -20px;
    opacity: 0;
}

.img--active{
    opacity: 1;
    transition: 1s;
}

.button{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    border: 2px solid #FFA7FF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    transition:color .5s, background-color .5s, padding .5s;
    opacity: 0;
}

.button--active{
    opacity: 1;
    transition: .5s;
}

.comp-menu{
    display: none;
}

.aboutme{
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 50px;
    column-gap: 150px
}

.left{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
}

.border{
    border: 13px solid #604BD4;
    padding: 10px 25px 10px 25px;
    position: relative;
    border-radius: 30px;
}

.border::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 90%;
    background-color: white;
    bottom: -13px;
    left: -13px;
}

.border::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 90%;
    background-color: white;
    top: -13px;
    right: -13px;
}

.left h3{
    margin-top: 20px;
    color:#604bd4;
}

.right img{
    width: 300px;
    border-radius:50%;
    border: 10px solid #604BD4;
    margin-top: 30px;
}

.top-border {
    position: absolute;
    width: 90%;
    height: 13px;
    background: white;
    top: -13px;
}

.bottom-border {
    position: absolute;
    width: 92%;
    height: 13px;
    background: white;
    bottom: -13px;
    left: -3px;
}

.border p{
    font-weight: bold;
    color: #604bd4;
}

.text-container {
    color: white;
    position: relative;
    top: 130px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(50px);
    opacity: 0;
}

.text-container--active{
    transform: translateY(0);
    opacity: 1;
    transition: opacity 1s, transform 1s;
}

.layout-container{
    background: linear-gradient(0deg, rgba(96,75,212,1) 0%, rgba(255,71,255,1) 100%);
    padding-top: 60px;   
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
    column-gap: 30px;
}

.design{
    margin-top: 200px;
    overflow: hidden;
}

.central{
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.phone{
    width: 300px;
}

.comp{
    width: 350px;
}

.comp-container h3{
    font-size: 40px;
    color: white;
    width: 350px;
}

.comp-container {
    display: flex;
    flex-direction: column;
}

.blur--active{
    filter: blur(5px);
    transition: .5s;
}

@media (min-width: 1000px)
{
h1{
    font-size: 100px;
    top: 100px;
    position: absolute;
    left: 10%;
    width: 1000px;
    text-align: left;
    word-spacing: 10px;
}

h1::after {
    font-size: 100px;
}

.hamburger{
    display: none;
}

.phone-menu{
    display: none;
}

.button:hover{
    cursor: pointer;
    background-color: #FFA7FF;
    color: #010423;
    padding-left: 25px;
    padding-right: 25px;
} 

.comp-menu{
    display: block;
    color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2px;
    position: relative;
}

.comp-menu li{
    display: inline-block;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 90px;
}

.comp-menu li:hover{
    cursor: pointer;
}

nav{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:height .2s;
    opacity: 0;
    transform: translateY(-20px);
}

.nav--active{
    height: 50px;
}

.nav--active2{
    transition: .2s;
    opacity: 1;
    transform: translateY(0);
}

.nav--active .comp-menu{
    background-color: #604bd4;
    border-radius: 30px;
    transition: .1s;
}

h2{
    position: absolute;
}

.bar{
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition:.5s;
}

.bar--active{
    width: 100%;
}

.aboutme{
    margin-top: 150px;
}

.logo--active{
    opacity: 1;
}

.right img{
    width: 350px;
    margin-top: 0px;
}

.text-container {
    position: absolute;
    top: 400px;
    left: 10%;
    width: 1000px;
    text-align: left;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}

.arrowback-comp {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 30px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 2;
    display: none;
}

.arrowback-comp img{
    width: 22px;
    transform: rotate(180deg);
    animation: arrowback infinite alternate .7s;
}

.arrowback--active{
    opacity: 1;
    transition: .5s;
}

.arrowback--active2{
    background-color: #604bd4;
    border: 2px solid black;
}

.central{
    font-size: 70px;
    text-align: center;
}

.comp {
    width: 550px;
}

.comp-container h3{
    text-align: left;
    font-size: 50px;
    width: 400px;
}

.phone {
    width: 310px;
}

}